html
  head
    title Fuck You - #{title}
    block css
      link(rel='stylesheet', href='/css/bootstrap.min.css')
      link(rel='stylesheet', href='/css/bootstrap-responsive.min.css')
    block scripts
      script(src='jquery.min.js')
      script(src='/bootstrap/js/bootstrap.min.js')
body
  block content